---
import siteConfig from "../config.ts";
const education = siteConfig.education || [];
---

<section class="py-32 bg-slate-800" id="education">
  <div class="max-w-5xl mx-auto px-6">

    <h2 class="text-2xl font-semibold text-white mb-12 text-center">
      Education
    </h2>

    <div class="space-y-8">
      {education.map((item) => (
        <div class="bg-slate-700 p-7 rounded-xl border border-white/5">

          <h3 class="text-lg text-white mb-1">
            {item.degree}
          </h3>

          <p class="text-sm text-gray-400 mb-3">
            {item.school} • {item.dateRange}
          </p>

          <ul class="text-gray-300 text-sm space-y-1">
            {item.achievements.map((point) => (
              <li>• {point}</li>
            ))}
          </ul>

        </div>
      ))}
    </div>

  </div>
</section>
