<section class="py-32 bg-slate-900">
  <div class="max-w-4xl mx-auto px-6">

    <h2 class="text-2xl font-semibold text-white mb-10">
      Experience
    </h2>

    <div class="space-y-6">
      <div class="bg-slate-800 p-6 rounded-xl border border-white/5">
        <h3 class="text-lg text-white mb-1">
          Data Analyst
        </h3>
        <p class="text-sm text-gray-400 mb-3">
          Freelance
        </p>

        <p class="text-gray-300 text-sm">
          Designed Power BI dashboards, performed financial analysis,
          and delivered insights that supported business decisions.
        </p>
      </div>
    </div>

  </div>
</section>
``
