---
import siteConfig from "../config.ts";
---

<footer class="py-10 bg-slate-950 text-gray-400">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <p class="text-sm">
      © {new Date().getFullYear()} {siteConfig.name}. All rights reserved.
    </p>

    <div class="mt-4 flex justify-center gap-6 text-sm">
      {"mailto:" + siteConfig.socials.email}
        Email
      </a>

      {siteConfig.socials.github}
        GitHub
      </a>

      {siteConfig.socials.linkedin}
        LinkedIn
      </a>
    </div>
  </div>
</footer>
